In [76]:
import pandas as pd

In [77]:
df = pd.read_csv("https://raw.githubusercontent.com/upflairs-pvt-ltd/JECRC-20april2024/main/loan%20aproaval%20DL/loan_approval_dataset.csv",skipinitialspace=True,)
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   loan_id                   4269 non-null   int64
 1   no_of_dependents          4269 non-null   int64
 2   education                 4269 non-null   object
 3   self_employed             4269 non-null   object
 4   income_annum              4269 non-null   int64
 5   loan_amount               4269 non-null   int64
 6   loan_term                 4269 non-null   int64
 7   cibil_score               4269 non-null   int64
 8   residential_assets_value  4269 non-null   int64
 9   commercial_assets_value   4269 non-null   int64
 10  luxury_assets_value       4269 non-null   int64
 11  bank_asset_value          4269 non-null   int64
 12  loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

In [79]:
df['loan_status'].value_counts()

loan_status
Approved    2656
Rejected    1613
Name: count, dtype: int64

In [80]:
df.columns

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value', 'loan_status'],
      dtype='object')

In [81]:
df["loan_status"].unique()

array(['Approved', 'Rejected'], dtype=object)

In [82]:
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [83]:
## one hotencoding  
df2 = pd.get_dummies(df,drop_first="if_binary").astype(int) 
df2.head()

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_Not Graduate,self_employed_Yes,loan_status_Rejected
0,1,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0,0,0
1,2,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1,1,1
2,3,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0,0,1
3,4,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0,0,1
4,5,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,1,1,1

In [84]:
## x and y data spliting  
x = df2.drop(['loan_status_Rejected','loan_id'],axis='columns')
y = df2[['loan_status_Rejected']]

In [85]:
x.head()

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_Not Graduate,self_employed_Yes
0,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0,0
1,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1,1
2,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0,0
3,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0,0
4,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,1,1

In [86]:
# y.head()

In [87]:
## train test split  
# standard scaler ANN  
from sklearn.preprocessing import StandardScaler

In [88]:
std_scaler = StandardScaler() 
x_transformed = std_scaler.fit_transform(x)

In [89]:
x_transformed.shape , x.shape

((4269, 11), (4269, 11))

In [90]:
## train test split  
from sklearn.model_selection import train_test_split

In [91]:
x_train,x_test,y_train,y_test = train_test_split(x_transformed,y,test_size=0.20)

In [92]:
from tensorflow.keras.models import Sequential  
from tensorflow.keras.layers import Dense

In [93]:
x_train.shape

(3415, 11)

In [94]:
# artificial neural network defining 
ANN_model = Sequential()
ANN_model.add(Dense(units=64,activation='relu',input_dim=11))  # hidden layer 1st + with input layer  
ANN_model.add(Dense(units=32,activation='relu'))  # hidden layer 2 
ANN_model.add(Dense(units=16,activation='relu'))  # hidden layer 3 

ANN_model.add(Dense(units=1,activation='sigmoid'))   # output layer  # binary class.
ANN_model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy']) 
ANN_model.summary()

C:\Users\Ranjit\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_12 (Dense)                     │ (None, 64)                  │             768 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_13 (Dense)                     │ (None, 32)                  │           2,080 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_14 (Dense)                     │ (None, 16)                  │             528 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_15 (Dense)                     │ (None, 1)                   │              17 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 3,393 (13.25 KB)

 Trainable params: 3,393 (13.25 KB)

 Non-trainable params: 0 (0.00 B)

In [95]:
x.columns

Index(['no_of_dependents', 'income_annum', 'loan_amount', 'loan_term',
       'cibil_score', 'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value', 'education_Not Graduate',
       'self_employed_Yes'],
      dtype='object')

In [96]:
# categorical 
# missing value

In [97]:
pd.DataFrame(x_train,columns=x.columns).head()

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_Not Graduate,self_employed_Yes
0,-0.883825,0.335248,-0.224882,-1.559151,-1.345257,0.373279,-0.631921,-0.156691,-0.023599,1.004461,0.992765
1,-0.294102,1.617979,0.814676,1.243677,1.456201,-0.011167,2.558270,1.007801,2.376545,-0.995559,-1.007288
2,0.885344,1.012245,1.168568,1.243677,-0.063430,-0.487879,-1.064876,1.117658,1.484184,1.004461,-1.007288
3,-0.883825,-1.196904,-0.932666,0.893324,-0.365037,-0.487879,-0.472412,-1.277239,-1.192900,-0.995559,-1.007288
4,-1.473548,-0.056698,0.151128,-1.208798,0.000371,0.557812,-0.631921,-0.343449,0.468738,1.004461,0.992765

In [98]:
x_train.shape ,y_train.shape

((3415, 11), (3415, 1))

In [101]:
history = ANN_model.fit(x_train,y_train,epochs=10,validation_data=(x_test,y_test))

Epoch 1/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.9720 - loss: 0.0774 - val_accuracy: 0.9356 - val_loss: 0.1392
Epoch 2/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - accuracy: 0.9755 - loss: 0.0739 - val_accuracy: 0.9344 - val_loss: 0.1300
Epoch 3/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 2s 19ms/step - accuracy: 0.9738 - loss: 0.0761 - val_accuracy: 0.9321 - val_loss: 0.1422
Epoch 4/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 3s 19ms/step - accuracy: 0.9762 - loss: 0.0658 - val_accuracy: 0.9391 - val_loss: 0.1286
Epoch 5/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 2s 15ms/step - accuracy: 0.9709 - loss: 0.0778 - val_accuracy: 0.9356 - val_loss: 0.1269
Epoch 6/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 4s 19ms/step - accuracy: 0.9833 - loss: 0.0575 - val_accuracy: 0.9391 - val_loss: 0.1419
Epoch 7/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 3s 18ms/step - accuracy: 0.9819 - loss: 0.0600 - val_accuracy: 0.9403 - val_loss: 0.1214
Epoch 8/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 3s 17ms/step - accuracy: 0.9761 - loss: 0.0605 - val_accuracy: 0.9473 - val_loss: 0.1226
Epoch 9/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 2s 12ms/step - accuracy: 0.9839 - loss: 0.0468 - val_accuracy: 0.9461 - val_loss: 0.1239
Epoch 10/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 3s 16ms/step - accuracy: 0.9813 - loss: 0.0528 - val_accuracy: 0.9403 - val_loss: 0.1322

In [102]:
pd.DataFrame(history.history)

   accuracy      loss  val_accuracy  val_loss
0  0.969839  0.083856      0.935597  0.139228
1  0.969253  0.079232      0.934426  0.129974
2  0.974817  0.072138      0.932084  0.142172
3  0.974524  0.069687      0.939110  0.128610
4  0.973353  0.068743      0.935597  0.126919
5  0.979209  0.061549      0.939110  0.141898
6  0.981259  0.059365      0.940281  0.121396
7  0.980088  0.055768      0.947307  0.122623
8  0.983309  0.050711      0.946136  0.123947
9  0.979209  0.056763      0.940281  0.132234